<div id="container" ></div>
<% if @hasIn.nil? %>
	<%= react_component "Greeting" %>
<% end %>
<% if @user.try(:errors).present? %>
	<%= react_component "ErrorMessage" %>
<% end %>
<%= react_component "HomepagesMobile", csrf_token: form_authenticity_token %>
<%= react_component "Homepages" %>
<%= react_component "Modal" %>

<script>
	$(document).ready(function(){
		$(".info-indikator").click(function(){
			var number = $(this).attr("value");
			dispatcher.dispatch({
				actionType: "homepage-mobile-change-number-info",
				numberInfo: parseInt(number)
			});
		});
		<% if @hasIn.nil? %>
			var hideGreeting = function(){
				$(".greeting").hide()
			};

			setTimeout(hideGreeting, 4000);
		<% end %>
	});

</script>

