<%= render 'layouts/navbar' %>
<div class="mainpages">
	<div class="row">
		<div class="col-sm-2">
			<%= react_component "Sidebar" %>
		</div>	
		<div class="col-sm-6">
			<%= react_component "Thumbnail", thumbs: @thumbs %>
		</div>
	<div class="col-sm-4">
			<%= react_component "Profile" %>
		</div>
	</div>
</div>

<!-- <h3>hello !, wanna be babysitter ?</h3>
<%= has_babysitter? %>

<h3>Are you looking for a babysitter ?</h3>
<%= has_parent? %>

<% if @user.is_babysitter? %>
	<h2>yes iam babysitter</h2>
<% else %>
	<h2>yes iam parent </h2>cmd
<% end %> -->
