<% byebug %>
<script>
	dispatcher.dispatch({
		actionType: "mainpage-mobile-set-parent",
		user: <%= json_for(@user).html_safe %>,
		parent: <%= json_for(@parent).html_safe %>,
		babysitters: <%= json_for(@babysitters).html_safe %>
	})
</script>

<%= render "layouts/navbar" %>
<%= react_component "MainpageMobile", currentUser: current_user, csrf_token: form_authenticity_token %>
<div id="mainpage" class="mainpages">
	<div class="row">
		<div class="col-sm-2 sidebar-frame">
		<%= react_component "Sidebar", person: get_parent, kids: get_kids(@parent.id), picture: @picture %>
		</div>	
		<div class="col-sm-6 thumbnail-frame">
			<%= react_component "Thumbnail", thumbs: get_thumbs, currentUser: current_user %>
		</div>
	<div class="col-sm-4">
			<%= react_component "Profile", currentUser: get_current_user  %>	
		</div>
	</div>
</div>

