<!DOCTYPE html>
<html>
<head>
  <title>Bibibebi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">
<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<% if !flash[:notice].blank? %>
		<div class="alert alert-success alert-dismisable">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<% if !flash[:alert].blank? %>
		<div class="alert alert-danger">
		<%= flash[:alert] %>
		</div>
	<% end %>
	<%= yield %>
</body>
</html>
